.App {
  font-family: sans-serif;
  text-align: center;
}

body {
  width: 100%;
  height: 100vh;
  margin: 0px;
  padding: 0px;
}

* {
  margin: 0px;
  padding: 0px;
}

.grid-container {
  width: 400px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 32px auto;

  h2 {
    margin: 4px auto;
  }

  .player {
    margin: 4px auto;
  }

  .reset-btn {
    width: fit-content;
    padding: 6px 24px;
    margin: 4px auto;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    background-color: rgb(78, 167, 205);
  }

  .boxes {
    width: 100%;
    height: 400px;
    margin: 8px 0px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 4px;

    .box {
      background: lightgray;
      cursor: pointer;
      color: black;
      font-size: 32px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 900;
    }

    .active {
      border: 4px solid green;
    }
  }
}
